.container {
    font-family: 'Minecraftia', sans-serif;
    display: flex;
    justify-content: space-around;
}

.controls-container, .canvas-container, .right-column {
    flex: 1;                         
}

.controls-container {
    width: 100%;
    margin-left: 20px;
}
.canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url('dirt_background.png');
    background-repeat: repeat;
    background-size: cover;
}

p, span, li, label {
    color: white;
}
